<div class="row">
    <h3>Drag and drop or assign numbers to rank</h3>

    <div class="col-md-4">
        <ul class="storedPlayerList">
            <li *ngFor="let player of originalPlayerList | paginate: { itemsPerPage: 20, currentPage: p}" class="storedPlayerItem">{{player.firstName}} {{player.lastName}}</li>
        </ul>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <ul class="rankedPlayerList" >
            <li *ngFor="let rankedPlayer of rankedPlayerList | paginate: {itemsPerPage: 20, currentPage: p2}" class="rankedPlayerItem">{{rankedPlayer.rank}}</li>
        </ul>
    </div>
</div>